.chart-container{
    max-width: 400px;
    margin: 24px;
}
.chart{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
table{
    width: 100%;
    padding: 16px;
    margin: 16px;
    border-collapse: collapse;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}
th{
    padding: 16px;
    font-weight: bold;
    background-color: #006f9e;
    color: #ffffff;
}
td{
    padding: 8px 16px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
.first-char{
    font-size: 24px;
    text-align: center;
    border-radius: 100%;
    color: white;
    width: 50px;
    margin-left: 8px;
    padding: 8px 6px;
    background-color: #037020;
    text-transform: uppercase;
} /* end */

button{
    background: transparent;
    border: none;
}
.option{
    display: flex;
    justify-content: left;
    align-items: center;
}
.fa-add{
    background-color: #006f9e;
    color: #ffffff;
    font-size: 20px;
    padding: 16px;
    margin: 8px;
    border-radius: 100%;
    transition: all 0.2s;
}
.fa-add:hover{
    transform: scale(1.4);
}
.btn-menu{
    padding: 8px;
    margin: 8px;
    border: 1px solid black;
    border-radius: 16px;
}
@media screen and (max-width: 305px) {
    .box-content{
        width: 100%;
        margin: 8px 0px;
        padding: 4px;
    }
}
.icon-img{
    width: 45px;
    height: 45px;
}
.delete, .edit{
    border-radius: 80px;
    transition: all 0.3s;
    border: 1px solid transparent;
}
.delete:hover{
    border: 1px solid red;
    transform: scale(1.5);
}
.edit:hover{
    border: 1px solid rgb(56, 58, 56);
    transform: scale(1.5);
}
.prest{
    display: flex;
    flex-direction: column;
    justify-content: right;
    flex-wrap: wrap;
    padding: 16px;
    width: 40%;
}
.prest-min{
    background-color: #FF6384;
    padding: 16px;
    width: 100%;
}
.prest-max{
    background-color: #36A2EB;
    padding: 16px;
    width: 100%;
}
.prest-totale{
    background-color: #FFCE56;
    padding: 16px;
    width: 100%;
}
.show-btn{
    border-radius: 0px;
    padding: 8px 16px;
    margin: 16px;
    width: 33%;
}
.search{
    display: flex;
    align-items: center;
}
.search-icon{
    width: 70px;
}
.search-input{
    margin: 16px 8px;
    width: 40%;
}