.container{
  margin-top: 100px;
} 
h4{
  text-align: center;
  border: none;
  padding: 16px 8px;
  color: #0084BB;
}
.card{
  padding: 16px;
  margin: auto;
  z-index: 98;
  border-radius: 0px;
  width: 500px;
  box-shadow: 4px 4px 600px 600px rgba(0, 0, 0, 0.5), -4px -4px 600px 600px rgba(0, 0, 0, 0.5);
}

.control-btn{
  margin: 8px 8px 8px auto;
  padding: 8px;
  width: 100%;
}
/* .btn-control-group{
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
@media screen and (max-width : 740px) {
  .card{
    width: 100%;
  }
  .control-btn{
    width: 100%;
  }
  .card{
    padding: 16px 0px;
    border: none;
  }
}
.cancel{
  background-color: transparent;
  border: 1px solid #0084BB;
  border-radius: 0px;
  color: #0084BB;
}
.save{
  background-color: #0084BB;
  border: 1px solid #0084BB;
  border-radius: 0px;
  color: #ffffff;
}
.cancel:hover, .cancel:valid{
  background-color: transparent;
  border: 1px solid #0084BB;
  color: #0084BB;
}
.save:hover{
  background-color: #0084BB;
  border: 1px solid #0084BB;
}
.cancel, .save{
  transition: all 0.2s ease-in-out;
}
.form-control{
  border-radius: 0px;
}
label{
  color: #525252;
}